@font-face {
  font-family: 'travels';
  src: url('~@/assets/fonts/TTTravels-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'travels';
  src: url('~@/assets/fonts/TTTravels-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'travels';
  src: url('~@/assets/fonts/TTTravels-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'travels';
  src: url('~@/assets/fonts/TTTravels-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'travels';
  src: url('~@/assets/fonts/TTTravels-DemiBold.ttf') format('truetype');
  font-weight: 600;
}
